/* Mobile & Tablet: width < 1024px  */
@media only screen and (max-width: 1023px) {
    /* CCS-Code */
    .hide-on__mobile-tablet {
    	display: none !important;
    }

    .header-bottom__selector {
        background-color: unset;
    }

    .header-bottom__selector-icon:first-child {
        color: var(--primary-color-yellow);
    }

    .header-bottom__selector-title {
        color: var(--primary-color-yellow);
    }

    .header-bottom__icon-bar {
        display: flex;
        align-items: center;
        height: 100%;
        float: right;
    }

    .header-bottom {
        display: flex;
        justify-content: space-between;
    }

    .header-bottom__selector {
        position: unset;
    }

    .header-bottom__selector-option {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        padding-left: 0;
        height: 100%;
        background-color: var(--primary-color-blue);
        animation: leftIn ease-in 0.2s;
    }

    @keyframes leftIn {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0);
        }
    }

    .header-bottom__selector-option__item {
        padding: 10px;
    }

    .header-bottom__icon {
        height: 50px;
        width: 100%;
        background-color: var(--primary-color);
        position: relative;
    }

    .header-bottom__icon-close {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 19px;
        z-index: 2;
        color: var(--primary-color-yellow);
        font-size: 2rem;
        padding: 0px;
    }

    .header-bottom__icon-close:hover {
        color: var(--white-color);
    }

    .header-bottom__selector-option__icon {
        color: var(--white-color);
    }

    .header-bottom__selector-option__icon:hover {
        color: var(--primary-color);
    }

    .header-bottom__selector-option__title {
        color: var(--white-color);
    }

    .header-bottom__selector-nav {
        margin-right: 10px;
    }

    .header-bottom__selector-nav__icon {
        color: var(--primary-color-yellow);
        font-size: 1.4rem;
        padding: 5px;
    }

}

/* Mobile: width < 740px  */
@media only screen and (max-width: 739px) {
    /* CCS-Code */
    .hide-on__mobile {
        display: none;
    }

    .best-selling__products-item {
        justify-content: flex-start;
    }

    .header-search__input-wrap {
        /* width: 100px; */
    }

    .header-middle__img {
        width: unset;
    }

    .header-search__input {
        min-width: 50px;
        margin-left: 0px;
    }

    .header-socical__item {
        margin-right: 15px;
    }

    .header-user {
        margin-left: 10px;
    }

    .header-middle__img {
        padding: 0 5px;
    }

    .footer-middle {
        padding-bottom: 30px;
    }

    .footer-middle_img {
        margin-top: 20px;
    }

    .static-banner__item {
        margin-bottom: 10px;
    }

    .header-bottom__selector-option {
        width: 70%;
    }

    /* Modal */
    .form-auth {
        width: 390px;
    }

    .form-auth__header {
        margin: 0 12px 12px;
    }

    .form-auth__controls {
        margin-top: 16px;
    }

    .form-auth__socical {
        margin-top: 0;
        padding: 12px 4px;
    }

    .form-auth__socical-title {
        padding: 0 8px;
        font-size: 1.1rem;
    }

    .btn {
        min-width: 110px;
    }

    .btn-back-top__icon { 
        padding: 10px;
        font-size: 1.4rem;
    }

    .product {
        min-width: 150px;
        height: unset;
    }

    .product-wrap {
        max-height: 320px;
    }
    
    .product__content {
        padding: 4px;
    }
    
    .product__img {
        padding: 5px 0px 20px;
    }

    .page-top {
        margin: 0 5px;
    }

    .footer-top,
    .footer-middle {
        margin: 0 5px;
    }

    .btn-back-top {
        bottom: 1%;
        right: 1%;
    }
}


/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    /* CCS-Code */
    .hide-on__tablet {
     	display: none;
   	}
    
    .footer-top {
        margin: 10px 25px 0;
    }

    .footer-middle_img {
        height: 200px;
    }

    .footer-middle__title {
        font-size: 1.3rem;
    }

    .header-bottom__selector-option {
        width: 40%;
    }
}


/* PC: width >= 1024px  */
@media only screen and (min-width: 1024px) {
     /* CCS-Code */
    .hide-on__pc {
        display: none !important;   
    }

    .footer-top__promotion-title {
        display: none;
    }

}

/* PC: width >= 1240px  */
@media only screen and (min-width: 1239px) {
    /* CCS-Code */
    .header-bottom__selector-option {
        display: block;
    }
}

@media only screen and (max-width: 1239px) {
    /* CCS-Code */
    
    .footer-top__promotion-title {
        display: none;
    }
}
