:root {
    --primary-color: #0d4c8f;
    --primary-dark-color: #09305a;
    --primary-color-blue: #1988ff;
    --primary-color-yellow: #f7ef22;
    --boder-color: #dbdbdb;
    --text-color: #333;
    --white-color: #fff;
    --orange-color: #f53e2d;

    --height-header-top: 30px;
    --height-header-middle: 50px;
    --height-header-bottom: 40px;
}

.display--hide {
    display: none !important;
}

* {
    box-sizing: inherit;
    margin: 0;
    /* text-decoration: none !important; */
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    text-decoration:none !important;
}

.main {
    overflow: hidden;
}


/* Header top */
.header-top {
    background-color: var(--primary-dark-color);
    height: var(--height-header-top);
    position: relative;
    z-index: 10;
}

.header-user {
    font-size: 1.6rem;
    color: var(--white-color);
    line-height: var(--height-header-top);
    max-width: 100px;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.header-user:hover .header-user__option{
    display: flex;
}

.header-user__label {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--white-color);
}

.header-user__label:hover {
    color: var(--white-color);
}

.header-user__option {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 140px;
    background-color: var(--white-color);
    position: absolute;
    z-index: 20;
    top: 100%;
    left: 0;
    transform-origin: top;
    animation: faceDowwn ease-in 0.2s;
    will-change: opacity, transform;
    -webkit-animation: faceDowwn ease-in 0.2s;
    -o-animation: faceDowwn ease-in 0.2s;
    box-shadow: 1px 1px 3px rgba(0, 0 , 0, 0.05);
    display: none;
}

@keyframes faceDowwn {
    from {
        opacity: 0;
        transform: scaleY(10%);
    } to {
        opacity: 1;
        transform: scaleY(100%);
    }
}

.header-user__option-item {
    display: flex;
    align-items: center;
    padding-left: 20px;;
    font-size: 1.4rem;
    border-bottom: 1px solid rgba(0, 0 , 0, 0.05);
}

.header-user__option-item:hover {
    background-color: #f5f5f5;
}

.header-user__option-link {
    text-decoration: none;
    color: #555;
    padding: 5px 10px;
}

.header-user__option-icon {
    color: #555;
    font-size: 1.2rem;
}


/* Header Middle */
.header-middle {
    height: var(--height-header-middle);
    background-color: var(--primary-color);
    position: relative;
    z-index: 5;
}

.header-middle__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    height: var(--height-header-middle);
}

.header-middle__img {
    height: var(--height-header-middle);
    cursor: pointer;
    width: 129px;
    object-fit: contain;
    object-position: 0%;
}

.header-search {
    --height-search-bar: 36px;
    min-height: var(--height-search-bar);
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
}

.header-search__selector {
    --width-header-selector: 200px;
    width: var(--width-header-selector);
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: var(--height-search-bar);
    background-color: #F5F5F5;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: 1px solid var(--boder-color);
    cursor: pointer;
    position: relative;
}

.header-search__selector:hover .header-search__selector-option {
    display: block;
}

.header-search__selector-label {
    font-size: 1.3rem;
    margin-left: 16px;
    color: var(--text-color);
    opacity: 80%;
    position: relative;
}

.header-search__selector-icon {
    font-size: 1.3rem;
    margin-right: 10px;
    color: var(--boder-color);
}

.header-search__selector-option {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    padding-left: 0;
    list-style: none;
    background-color: var(--white-color);
    width: var(--width-header-selector);
    padding: 5px 0;
    box-shadow: 1px 1px 4px var(--boder-color);
    animation: faceIn ease-in 0.2s;
    will-change: opacity;
    -webkit-animation: faceIn ease-in 0.2s;
    -o-animation: faceIn ease-in 0.2s;
    -moz-animation: faceIn ease-in 0.2s;
    display: none;
}

@keyframes faceIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}


.header-search__selector-option__item {
    line-height: 1.4rem;
    width: var(--width-header-selector);
}

.header-search__selector-option__link {
    text-decoration: none;
    color: var(--text-color);
    margin-left: 16px;
    font-size: 1.1rem;
    line-height: 1.4rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.header-search__selector-option__link:hover {
    color: var(--primary-color-blue);
}

.header-search__input {
    border: none;
    margin-left: 20px;
    min-height: 30px;
    min-width: 300px;
    outline: none;
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.header-search__btn {
    display: flex;
    background-color: var(--primary-color-blue);
    border-radius: 3px;
    padding: 7px 30px;
    margin-right: 2px;
    height: 32px;
}

.header-search__btn:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

.header-search__icon {
    font-size: 1.6rem;
    color: var(--white-color);
    margin: auto;
}

.header-socical {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-socical__item {
    text-align: center;
    line-height: 1.6rem;
    position: relative;
}

.header-socical__item + .header-socical__item {
    margin-left: 12px;
}

.header-socical__circle {
    background-color: var(--white-color);
    height: 35px;
    width: 35px;
    border-radius: 50%;
    position: relative;
}

.header-socical__circle-icon {
    font-size: 1.8rem;
    color: var(--primary-color);
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
}

.header-socical__circle-icon:hover {
    color: var(--orange-color);
    cursor: pointer;
}

.header-socical__notify {
    background-color: var(--orange-color);
    height: 16px;
    width: 16px;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    right: -8px;
}

.header-socical__notify span {
    color: var(--white-color);
    font-size: 1.2rem;
    text-align: center;
}

/* Header Bottom */
.header-bottom {
    background-color: var(--primary-color);
    height: var(--height-header-bottom);
}

.header-bottom__selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color-yellow);
    height: var(--height-header-bottom);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative;
}

.header-bottom__selector-label {
    flex: 1;
}

.header-bottom__selector-icon {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin: 10px;
}

.header-bottom__selector-title {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 550;
    color: var(--primary-color);
}

/* Header Bottom / Selector - Option */
.header-bottom__selector-option {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    padding-left: 0;
    list-style: none;
    /* width: 10%; */
    background-color: var(--white-color);
    box-shadow: 0 1px 3px var(--boder-color);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    animation: faceTop linear 0.3s;
    will-change: opacity, transform;
    -webkit-animation: faceTop linear 0.3s;
    -o-animation: faceTop linear 0.3s;
    /* display: none; */
}

.header-bottom__selector-option__item {
    padding: 5px 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.header-bottom__selector-option__title:hover {
    background-color: var(--primary-color-yellow);
}

.header-bottom__selector-option__item:last-child {
    margin-bottom: 30px;
}

.header-bottom__selector-option__item:first-child {
    margin-top: 5px;
}

.header-bottom__selector-option__icon {
    color: var(--text-color);
    font-size: 1.2rem;
    padding: 0 10px;
}

.header-bottom__selector-option__text {
    flex: 1;
    line-height: 1.4rem;
    overflow: hidden;
    display: inline-block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.header-bottom__selector-option__title {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 0;
}

.header-bottom__selector-option__icon-arrow {
    color: var(--boder-color);
    font-size: 1.2rem;
    padding: 0 10px;
}

/* Header Bottom / Navigation */
.header-bottom__wrap {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    flex-wrap: nowrap;
    position: relative;
}

.header-bottom__nav-list {
    padding-left: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0;
}

.header-bottom__nav-item {
    margin-right: 20px;
}

.header-bottom__nav-link {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 550;
    color: var(--white-color);
    line-height: var(--height-header-bottom);
}

.header-bottom__nav-link:hover {
    color: var(--primary-color-yellow);
}

.header-bottom__nav-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.nav-item__sub-menu { 
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    background-color: #fff;
    width: 70%;
    padding: 10px;
    box-shadow: 0 1px 4px #939393;
    animation: faceDownNav ease-in 0.3s;
    display: none;
}

.open__sub-menu {
    display: block !important;
}

@keyframes faceDownNav {
    from {
        opacity: 0;
        transform: translateY(-135%);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
} 

.nav-item__sub-menu__wrap {
    padding: 10px;
}

.nav-item__sub-menu__title { 
    font-size: 1.2rem;
    color: var(--text-color);
    position: relative;
}

.nav-item__sub-menu__title::before { 
    content: '';
    border-bottom: 1px solid var(--boder-color);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

.nav-item__sub-menu__title:hover { 
    background-color: var(--primary-color-yellow);
    color: var(--primary-dark-color);
}

.nav-item__sub-menu__list { 
    padding-left: 0;
    list-style: none;
    margin: 10px 0 0;
}

.nav-item__sub-menu__item { 
    text-decoration: none;
}

.nav-item__sub-menu__link {
    font-size: 1rem;
    text-decoration: none;
    color: var(--text-color);
}

.nav-item__sub-menu__item:hover { 
    background-color: var(--primary-color-yellow);
    color: var(--primary-dark-color);
}

 /* Header Bottom / Infomation */
.header-bottom__info-list {
    padding-left: 0;
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.header-bottom__info-list span {
    color: var(--white-color);
}

.header-bottom__info-item {
    margin-left: 4px;
}

.header-bottom__info-icon {
    font-size: 1.2rem;
    color: var(--white-color);
    line-height: var(--height-header-bottom);
    
}

.header-bottom__info-label {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--white-color);
    line-height: var(--height-header-bottom);
}

.header-bottom__info-label:hover {
    color: var(--primary-color-yellow);
}

.header-bottom__info-seperate {
    border-left: 1px solid #fff;
    margin: 0 10px;
    height: 16px;
    display: block;
}

.home-slider {
    margin-top: 24px;
}

/* BEST SELLING */
.best-selling {
    width: 100%;
    margin-top: 24px;
    border: 1px solid #e9e9e9;
    box-shadow: 0 1px 5px rgba(0, 0 , 0, 0.05);
    overflow: hidden;
}

.best-selling__title {
    background-color: #e9e9e9;
    padding: 7px 10px;
}

.best-selling__title-link {
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--text-color);
    margin: 0;
}

.best-selling__products {
    padding-left: 0;
    list-style: none;
    margin: 0;
    max-height: 266px;
    overflow-x: auto;
}

.best-selling__products::-webkit-scrollbar {
    display: none;
}

.best-selling__products-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 67px;
    border-bottom: 1px solid #e9e9e9;
}

.best-selling__products-img {
    height: 60px;
    padding: 5px 10px;
}

.best-selling__products-info {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 5px;
    /* height: 24px; */
}

.best-selling__products-name {
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 550;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.best-selling__products-name:hover {
    color: var(--primary-color-blue);
    cursor: pointer;
}

.best-selling__products-price {
    font-size: 1.3rem;
    color: var(--orange-color);
    font-weight: 550;
}

/* CONTENT */

/* STATIC NAV  */
.static-nav {
    margin-top: 24px;
}

.static-nav__banner-img {
    width: 100%;
    margin-bottom: 35px;
}

.policy-nav {
    padding-left: 0;
    list-style: none;
    margin-top: 24px;
}

.policy-nav__item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid var(--boder-color);
}

.policy-nav__img {
    height: 40px;
    margin-left: 10px;
}

.policy-nav__item-content {
    margin-left: 10px;
    
}

.policy-nav__item-label {
    margin: 0;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--text-color);
}

.policy-nav__item-label:hover {
    cursor: pointer;
    color: var(--orange-color);
}


.policy-nav__item-description {
    font-size: 1rem;
    color: #999;
    display: block;
}



/* STATIC BANNER ITEM  */

.static-banner {
    margin-top: 24px;
    /* width: 100%; */
    overflow: hidden;
}

.static-banner__item {
    cursor: pointer;
}

.static-banner__img {
    /* height: 80px; */
    width: 100%;
}


/* PRODUCTS */

.product {
    cursor: pointer;
    overflow: hidden;
}

.product:hover img{
    /* -webkit-box-shadow: 0px 0px 15px 15px #fff; box-shadow: 0px 0px 15px 15px #fff; border-radius:10%; opacity: 0.6; -webkit-transform: rotate(720deg); transform: rotate(720deg); */
    -webkit-transform:scale(1.1); transform:scale(1.1);
}

.product-group__0 {
    margin-top: 24px;
}

.page-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dbdbdb;
}

.page-top__wrap {
    width: 180px;
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid var(--orange-color);
}

.page-top__title {
    
    margin: 0;
    font-size: 1.4rem;
    font-weight: 550;
}

.page-top__btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.page-top__btn-prev {
    padding: 3px 10px;
    border: 1px solid #dbdbdb;
    color: var(--primary-color);
}

.page-top__btn-next {
    margin-left: 5px;
    padding: 3px 10px;
    border: 1px solid #dbdbdb;
    color: var(--primary-color);
}

.page-top__btn-icon {
    font-size: 1.1rem;
}

.page-top__btn-prev:hover,
.page-top__btn-next:hover
{
    background-color: var(--orange-color);
    color: var(--white-color);
}

.product-group__0,
.product-group__1,
.product-group__2,
.product-group__3 {
    overflow: hidden;
}

.product-wrap {
    flex-wrap: nowrap;
    flex-direction: column;
    overflow-y: hidden;
    max-height: 280px;
    overflow-x: auto;
    scroll-snap-align: start;
}

.product-wrap::-webkit-scrollbar {
    width: 0;
}

.product-slider {
    /* padding: 10px; */
    margin-bottom: 10px;
}

.product-slider__img {
    width: 100%;
    margin-top: 14px;
}


.product {
    margin-top: 5px;
    min-width: 180px;
    padding: 5px;
    position: relative;
    height: 260px;
}

.product__img {
    width: 100%;
    padding: 5px 12px 20px;
    object-fit: cover;
    min-height: 173px;
}

.product__content {
    padding: 5px;
    text-align:center;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.product__name {
    font-size: 1.2rem;
    margin: 0;
    line-height: 1.5rem;
    height: 30px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product__name:hover {
    color: var(--primary-color-blue);
 }

.product__price {
    font-size: 1.4rem;
    color: var(--primary-color-blue);
    font-weight: 550;
}

.product__price-old {
    font-size: 1.1rem;
    text-decoration: line-through;
    color: #999;
}

.product__percent {
    color: var(--orange-color);
    font-weight: 600;
    font-size: 1.3rem;
}

.sale-pay {
    background-color: var(--primary-color-yellow);
    text-align: center;
    width: 60px;
    position: absolute;
    top: 3%;
    right: 0;
    line-height: 1.6rem;
}

.sale-pay__title {
    font-size: 1rem;
}

.sale-shock {
    background-color: #ED1B24;
    padding: 2px 10px;
    border-radius: 12px;
    width: 120px;
    position: absolute;
    top: -42px;
}

.sale-shock__title {
    color: var(--primary-color-yellow);
    font-size: 1.2rem;
    font-weight: 700;
}

.sale-shock__wrap {
    display: flex;
    justify-content: center;
    
}

.promotion {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -22px;
}

.promotion__icon {
    font-size: 1.2rem;
    color: var(--orange-color);
}

.promotion__title {
    font-size: 1.2rem;
    font-weight: 550;
}

.promotion-money {
    margin-left: 5px;
}

/* FOOTER */

.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color-blue);
    min-height: 60px;
    margin: 80px 25px 0;
    border-radius: 4px;

}

.footer-top__socicals {
    margin-left: 25px;
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.footer-top__socicals-icon-wrap {
    width: 40px;
    height: 40px;
    display: flex;
    background-color: var(--primary-color);
    border-radius: 4px;
    color: var(--white-color);
}

.footer-top__socicals-icon-wrap:hover {
    background-color: var(--white-color);
    color: var(--orange-color);
}

.footer-top__socicals-icon {
    font-size: 1.6rem;
    margin: auto;
}

.footer-top__socicals-icon-wrap + .footer-top__socicals-icon-wrap {
    margin-left: 10px;
}

.footer-top__promotion {
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 0;
}

.footer-top__promotion-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    margin-right: 25px;
}

.footer-top__input-wrap {
    background: #fff;
    border-radius: 4px;
}

.footer-top__input {
    outline: none;
    /* height: 40px; */
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    /* padding: 0 15px; */
    padding-left: 15px;
    /* width: 70%; */
    padding-right: 35px;
}

.footer-top__btn {
    border: none;
    background: var(--primary-color-yellow);
    color: var(--primary-color);
    height: 40px;
    padding: 10px 15px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
}

.footer-top__btn:hover {
    color: var(--orange-color);
}

.footer-middle {
    background-color: #f5f5f5;
    padding-top: 30px;
    padding-bottom: 60px;
}

.footer-middle__logo {
    height: 60px;
    display: block;
}

.footer-middle__info-list {
    padding-left: 0;
    list-style: none;
    width: 100%;
}

.footer-middle__info-item {
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--text-color);   
    margin-top: 12px;
}

.footer-middle__info-icon {
    font-size: 1.6rem;
}

.footer-middle__info-text {
    margin-left: 10px;
    font-size: 1.3rem;
}

.footer-middle__title {
    font-size: 1.3rem;
    font-weight: 550;
    margin: 20px 0;
    position: relative;
}

.footer-middle__title::before {
    content: '';
    border-bottom: 2px solid var(--primary-color-blue);
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
}

.footer-middle_list {
    padding-top: 1px;
    margin: 0;
    padding-left: 0;
    position: relative;
}

.footer-middle__item {
    margin-left: 16px;
    margin-top: 10px;
}

.footer-middle__link {
    text-decoration: none;
    color: var(--primary-color);
}

.footer-middle__link:hover {
    color: var(--orange-color);
}

.footer-middle_img {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-middle_img-hg,
.footer-middle_img-bct {
    height: 60px;
}

.footer-bottom__copyright {
    background-color: rgb(255, 0, 0);
    height: 60px;
    display: flex;
}

.footer-bottom__copyright-text {
    color: var(--white-color);
    margin: auto;
    font-size: 1.2rem;
}


/* Modal layout Global */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    display: none;
}

/* .modal.js-modal--open {
    display: flex;
} */

.modal.js-modal--open {
    display: flex;
}

.modal.js-modal--open {
    display: flex;
}

.modal__overlay  {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    animation: faceIn linear 0.1s;
}

.modal__form {
    --growth-from: 70%;
    --growth-to: 100%;
    margin: auto;
    z-index: 1;
    animation: growth linear 0.2s;
}

/*  Authen Modal */

.form-auth {
    width: 500px;
    background-color:var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.form-auth__container {
    padding: 16px;
}

.form-auth__header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 12px 48px;
}

.form-auth__heading {
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
}

.form-auth__switch-btn {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.form-auth__switch-btn:hover {
    cursor: pointer;
}

.form-auth__content {
    /* display: flex;
    flex-direction: column;
    align-content: stretch; */
    width: 100%;
}

.form-auth__controls {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}

.form-auth__input {
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--boder-color);
    border-radius: 2px;
    outline: none;
}

.form-auth__input:focus { 
    border: 2px solid #777;
}

.form-auth__help {
    display: flex;
    justify-content: flex-end;
}

.form-auth__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.form-auth__help-link-fogot {
    color: var(--primary-color);
    font-weight: 500;
}

.form-auth__help-seperate {
    border-left: 1px solid #EAEAEA;
    margin: 0 12px;
    display: block;
}

.form-auth__policy-title {
    margin: 0 12px;
    font-size: 1.2rem;
    font-weight: 450;
    line-height: 1.5rem;
    text-align: center;
}

.form-auth__policy-link {
    color: var(--primary-color);
    text-decoration: none;
}

.form-auth__socical {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 12px 17px;
    align-items: center;
}

.form-auth__socical a {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-auth__socical-icon-sms {
    font-size: 1.8rem;
    color: var(--white-color);
}

.form-auth__socical-icon-facebook {
    font-size: 1.8rem;
    color: var(--white-color);
    margin-left: 12px;
}

.form-auth__socical-icon-google {
    font-size: 1.8rem;
    color: #D64E42;
}

.form-auth__socical--sms {
    background-color: #13aa0d;
    color: var(--white-color);
}

.form-auth__socical--facebook {
    background-color: #3A5a98;
    color: var(--white-color);
}

.form-auth__socical--google {
    background-color: var(--white-color);
    color: var(--text-color);
}

.form-auth__socical-title {
    padding: 0 22px;
}

/* Button Style */
.btn {
    min-width: 124px;
    height: 34px;
    border: none;
    /* background-color: var(--white-color); */
    color: var(--text-color);
    text-decoration: none;
    border-radius: 2px;
    font-size: 1.4rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px
}

.btn--size-s {
    height: 32px;
    font-size: 1.2rem;
}

.btn + .btn {
    margin-left: 12px;
}

.btn.btn--hover:hover {
    background-color: rgba(0, 0, 0, 0.1);
    outline: none;
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn--disabled {
    cursor: default;
    background-color: #c3c3c3;
    color: #949494;
}

.btn-back-top {
    background-color: var(--orange-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 2%;
    right: 1%;
    border-radius: 3px;
    box-shadow: 0 0px 5px var(--orange-color);
    scroll-behavior: smooth;
    will-change: scroll;
}

.btn-back-top__icon { 
    color: var(--white-color);
    padding: 15px;
    font-size: 1.6rem;
    
}


/* Nav MenuItem  */
.menu-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    min-height: 322px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    background-color: #f5f5f5;
    box-shadow: 0 1px 3px var(--boder-color);
    animation: faceTop linear 0.3s;
    will-change: opacity, transform;
    -webkit-animation: faceTop linear 0.3s;
    -o-animation: faceTop linear 0.3s;
    display: none;
}

.header-bottom__selector:hover .menu-nav {
    display: block;
}

@keyframes faceTop {
    from {
        opacity: 0;
        transform: translateY(10%);
    } 
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.menu-nav__item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.menu-nav__item:hover {
    background-color: var(--primary-color-yellow);
}

.menu-nav__icon-wrap {
    width: 16px;
}

.menu-nav__icon {
    font-size: 1.2rem;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-nav__icon-arrow {
    font-size: 1.2rem;
    margin-right: 5px;
    color: #333;
}

.menu-nav__link {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 5px;
    width: 100%;
    display: flex;
    align-items: center;
}

.menu-nav__link span{
    font-size: 1.2rem;
    margin-left: 5px;
    line-height: 1.6rem;
    overflow: hidden;
    display: inline-block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.menu-nav__sub {
    position: absolute;
    z-index: 1;
    background-color: var(--white-color);
    left: 100%;
    top: 0;
    min-width: 720px;
    min-height: 325px;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #ccc;
    padding: 10px 20px 10px;
    display: none;
}

.menu-nav__sub-item {
     
}

.menu-nav__sub-link {
    display: block;
    text-decoration: none;
    color: #777;
    background: #fff;
    font-size: 1.2rem;
    padding: 2px 10px;
}

.menu-nav__sub-link:first-child {
    margin-bottom: 5px;
    font-weight: 600;
    text-transform: uppercase;
}

.menu-nav__sub-link:hover {
    background-color: var(--primary-color-yellow);
    color: var(--primary-color);
}

.menu-nav__item:hover .menu-nav__sub { 
    display: block; 
}